* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    font-size: 1rem;
}

p {
    padding-bottom: 15px;
    padding-left: 30px;
    margin-top: 10px;
    font-size: 1.4rem;
}

nav {
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
}

li a:hover {
    color: red;
    transition: all 0.2s ease-out;
    text-decoration: underline;
}

li.actief a {
    color: red;
    text-decoration: underline;
}

nav ul a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    padding-right: 7rem;
}

h1 {
    font-size: 35px;
    padding-left: 20px;
    padding-top: 20px;
}

form {
    padding-left: 3rem;
}

input {
    margin-left: 3rem;
}

/* Grid */

.grid-container {
    display: grid;
    padding: 10px;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    grid-template-columns: auto auto auto 25rem;
    grid-template-rows: repeat(3);
}

.grid-item {
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
}